/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-fijo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-fijo a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-fijo a:hover {
    background-color: #555;
}

.titulo-container {
    margin-top: 80px; /* Espacio para el header fijo */
}

.animacion-titulo {
    animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 160px; /* Ajuste para espacio del header fijo */
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #555;
}

.redes-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
}

.redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #555;
}

.redes-sociales i {
    margin-right: 5px;
    font-size: 1.2rem;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

